Repository wiris/html-integrations, pull requests merged in 2021-12, with the labels that each got.

#470 Added missing 'www' on documentation wiris.net links
  CHANGES.md
  packages/mathtype-ckeditor4/README.md
  packages/mathtype-ckeditor5/README.md
  packages/mathtype-froala/README.md
  packages/mathtype-froala3/README.md
  packages/mathtype-generic/README.md
  packages/mathtype-tinymce4/README.md
  packages/mathtype-tinymce5/README.md
Labels: type:documentation

#469 Destroy events from CKEditor5Integration when CK5 is destroyed
  CHANGES.md
  packages/mathtype-ckeditor5/src/plugin.js
  packages/mathtype-html-integration-devkit/src/integrationmodel.js
  packages/mathtype-html-integration-devkit/src/util.js
Labels: package:ckeditor5, package:devkit, browser:chrome

#485 Fix wrapping issue when converting Latex to MathML
  CHANGES.md
  packages/mathtype-html-integration-devkit/src/mathml.js
Labels: type:bug, package:devkit

#484 Fix Froala v3 & v4 + Angular treating formulas as images
  CHANGES.md
  demos/angular/froala/package.json
  demos/html5/froala/index.html
  demos/html5/froala/package.json
  packages/mathtype-froala3/package.json
  packages/mathtype-froala3/webpack.config.js
  packages/mathtype-froala3/wiris.src.js
Labels: type:bug, package:froala3, tech:angular
